@use '../helpers' as *;

.business {
    background-color: var(--color-silver);
    display: flex;
    align-items: center;
    column-gap: fluid(204, 15);
    padding-block: fluid(64, 30);
    margin-bottom: fluid(48, 24);

    @include tablet {
        column-gap: fluid(30, 10);
    }

    @include mobile {
        flex-direction: column;
        row-gap: fluid(40, 20);
    }

    &__metrics {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: fluid(30, 5);
        row-gap: fluid(40, 20);

        &-item {
            display: flex;
            align-items: center;
            column-gap: fluid(16, 8);
            max-width: rem(255);
        }

        &-image {
            width: fluid(48, 30);
        }
    }
}