@use '../helpers' as *;

.comments {
    background-color: var(--color-silver);
    padding-block: fluid(32, 16);
    display: flex;
    align-items: center;
    column-gap: fluid(78, 10);

    @include mobile {
        flex-direction: column;
        row-gap: rem(20);
    }

    &__image {
        @include square(fluid(326, 250));
        flex-shrink: 0;
    }

    &__comment {
        &-author {
            padding-top: rem(16);
            padding-bottom: rem(8);
            color: var(--color-primary);
            font-weight: 600;
            font-size: rem(20);
        }

        &-company {
            color: var(--color-neutral-l-grey);
        }
    }

    &__customers {
        padding-top: fluid(32, 12);
        display: flex;
        column-gap: fluid(41, 4);
        row-gap: fluid(20, 10);
        flex-wrap: wrap;
    }
}